<a href="https://colab.research.google.com/github/pradhangithub/DIVINE/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
smallest = None
print('Before')
for value in [9, 41, 12, 3, 74, 15] : 
     if smallest is None : 
         smallest = value   
     elif value < smallest : 
         smallest = value   
     print(smallest, value)
print('After', smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [ ]:
## Tuple - immutable
example_tuple = (2, 3, 4, 5)
print('A tuple:', example_tuple)
print('First element of tuple:', example_tuple[0])

A tuple: (2, 3, 4, 5)
First element of tuple: 2

In [ ]:
List=[1,2,3,4,5] 
print(List) 
List[0]=20 
print(List) 
List[3]=8 
print(List)

[1, 2, 3, 4, 5]
[20, 2, 3, 4, 5]
[20, 2, 3, 8, 5]

In [ ]:
## List
example_list = [2, 3, 4, 5]
print('A list:', example_list)
print('First element of list:', example_list[0])
example_list.append(12)
print('Appended list:', example_list)
example_list[0] = 45
print('Modified list:', example_list)

A list: [2, 3, 4, 5]
First element of list: 2
Appended list: [2, 3, 4, 5, 12]
Modified list: [45, 3, 4, 5, 12]

In [ ]:
## String - immutable, tuple of characters
text = "ABCDEFGH"
print('Here is a string:', text)
print('First character:', text[0])
print('Number of characters in text', len(text))

Here is a string: ABCDEFGH
First character: A
Number of characters in text 8

In [ ]:
## Set - unique unordered elements
example_set = set([1,2,2,2,2,4,5,6,6,6])
print('A set:', example_set)

A set: {1, 2, 4, 5, 6}

In [ ]:
d = { "foo" : 1, "bar" : 2,"brand" : ['maruti', 'toyota','hyundai','honda'] }
print(d["brand"][2])   # 2

hyundai

In [ ]:
some_dict = {}
some_dict["foo"] = "yow!"
print(some_dict.keys())

In [ ]:
d1={"flag": ["red","white","blue",("hi",[1,2,'how r u'])]}
print(d1['flag'][3][1][2][4])

r

In [ ]:
d1={
    "flag":["d","h","e",("hi",[1,{1:['Happy new{year: thank you}']},2,'hou'])]}
print(d1['flag'][-1][-1][-3][1][-1][-8])

a

In [ ]:
print(d1.get('flg'))

None

In [ ]:
a = (1, 2, 3)
print(id(a))
b = (4, 5, 6)
print(id(b))
a = a + b
print(id(a))
print(id(b))

1423600141480
1423600141000
1423600453960
1423600141000

In [ ]:
a = [1, 2, 3]
print(id(a))
b = [4, 5, 6]
print(id(b))
a = a + b
print(id(a))
print(id(b))
print(a)

1423600159560
1423600339016
1423600431880
1423600339016
[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1, 2, 3]
print(id(a))
b = [4, 5, 6]
print(id(b))
a.append(4)
print(id(a))
print(id(b))
print(a)

1423600339016
1423600431880
1423600339016
1423600431880
[1, 2, 3, 4]

In [ ]:
s1 = "Hello" 
s2 = 'World'
s1 = s1 + s2
s1 = s1 + ' hi'
s1

'HelloWorld hi'

In [ ]:
'Hello' * 3

'HelloHelloHello'

In [ ]:
a = [1,True,'Hello',[1,2,3],(5,6,'how r u',[7,8,'fine'],('hi',5,False))]
a[4][3][2][2]

'n'

In [ ]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]
print(my_list == your_list) 
print(my_list == his_list)
my_dict = {1:7, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

False
True
False

In [ ]:
## Dictionary
example_dictionary = {"A": "APPLE", 
                      "B": "BALL", 
                      "C": "CAT", 
                      "D": "DOLL"}
print('A dictionary:', example_dictionary)
print('Value associated to key C:', example_dictionary['C'])

A dictionary: {'A': 'APPLE', 'B': 'BALL', 'C': 'CAT', 'D': 'DOLL'}
Value associated to key C: CAT

In [ ]:
for num in [1,2,3,4,5]:
    print(num**2)

for num in 'computer':
    print(num)

1
4
9
16
25
c
o
m
p
u
t
e
r

In [ ]:
x = 2
print('Is 2 < 5?', x < 5)
print('Is 2 == 5?', x == 5)
print('Is 2 < 5 and 2 > 1?', (x < 5) & (x > 1))

if x == 2:
    print('x is equal to 2')

Is 2 < 5? True
Is 2 == 5? False
Is 2 < 5 and 2 > 1? True
x is equal to 2

In [ ]:
example_list = ['A', 'B', 'C', 'D', 'E']

## Looping through a list
for element in example_list:
    print("The element in list is:", element)

The element in list is: A
The element in list is: B
The element in list is: C
The element in list is: D
The element in list is: E

In [ ]:
total = 0
prices = [2.50, 3.50, 4.50]
for price in prices:
    print('Price is', price) 
    total = total + price
print('total is', total)
average = total/len(prices) 
print('avg is', average)

Price is 2.5
Price is 3.5
Price is 4.5
total is 10.5
avg is 3.5

In [ ]:
import random
r1 = random.random() # Gives us a random number from [0.0, 1.0
print(r1)
r2 = random.choice([1,2,3,4,5]) # Gives us a random choice from a list
r3 = random.randint(1, 1000) # Gives us a random number in this range
print(r2)
print(r3)

0.16710574390603528
2
832

In [ ]:
import random
for i in range(10):
    #print(i)
    ticket = random.randint(1, 1000)
    print(ticket)

208
595
376
195
539
1000
499
89
780
854

In [ ]:
for i in range(2005, 2017, 2):
    print(i)

2005
2007
2009
2011
2013
2015

In [ ]:
menu_prices = {
    'Knackered Spam': 0.50,
    'Pip pip Spam': 1.50, 
    'Squidgy Spam': 2.50, 
    'Smashing Spam': 3.50
}
print(menu_prices.items())
for name, price in menu_prices.items():
    print(name, ': $', price)

dict_items([('Knackered Spam', 0.5), ('Pip pip Spam', 1.5), ('Squidgy Spam', 2.5), ('Smashing Spam', 3.5)])
Knackered Spam : $ 0.5
Pip pip Spam : $ 1.5
Squidgy Spam : $ 2.5
Smashing Spam : $ 3.5

In [ ]:
n = 1
num= int(input('Enter the Number'))
while n<= num :
    print(n)
    n+=1

Enter the Number5
1
2
3
4
5

In [ ]:
x = input("x? ")
y = input("y? ")
print(type(x))

if x < y: 
    print('x is less than y') 
elif x > y: 
    print ('x is greater than y') 
else: 
    print('x and y are equal')

x? 100
y? ten
<class 'str'>
x is less than y

In [ ]:
print('Before')
for num in [9, 41, 12, 3, 74, 15] :
    if num > 20: 
        print('Large number',num)
print('After')

Before
Large number 41
Large number 74
After